<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witter</title>
</head>

<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="Enter message"/>
        <input type="text" name="tag" placeholder="Enter tag"/>
        <button type="submit">Add</button>
    </form>
</div>

<form method="get">
    <input type="text" name="filter" th:value="${filter}" placeholder="Filter"/>
    <button type="submit">Search</button>
</form>

<div>List message</div>

<div>
    <table>
        <tr th:each="message : ${messages}">
            <td><b th:text="${message.id}"> ID </b></td>
            <td><span th:text="${message.text}"> Text </span></td>
            <td><i th:text="${message.tag}"> Tag </i></td>
            <td><strong th:text="${message.author.username}">Author</strong></td>
        </tr>
    </table>
</div>

</body>

</html>