<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witter</title>
</head>

<body>
<div>
    <form method="post" action="message">
        <input type="text" name="text" placeholder="Enter message"/>
        <input type="text" name="tag" placeholder="Enter tag"/>
        <button type="submit">Add</button>
    </form>
</div>

<form method="post" action="filter">
    <input type="text" name="filter" placeholder="Filter"/>
    <button type="submit">Search</button>
</form>

<div>List message</div>

<div>
    <table>
        <tr th:each="message : ${messages}">
            <td><b th:text="${message.id}"> ID </b></td>
            <td><span th:text="${message.text}"> Text </span></td>
            <td><i th:text="${message.tag}"> Tag </i></td>
        </tr>
    </table>
</div>

</body>

</html>