<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="~{fragment/generalFragment:: head}"></head>

<body>
<nav th:insert="~{fragment/navBar:: navbar}"></nav>
<div class="container" style="margin-top: 100px;">

    <div th:if="${checkedUser==true}">
        <div th:replace="~{fragment/messageEdit:: messageEdit}"></div>
    </div>

    <div th:replace="~{fragment/messagesList:: messagesList}"></div>

    <div th:replace="~{fragment/generalFragment:: bootstrap}"></div>
</div>

</body>
</html>