<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="~{fragment/generalFragment:: head}"></head>

<body>
<nav th:insert="~{fragment/navBar:: navbar}"></nav>
<div class="container" style="margin-top: 100px;">

    <h1 class="font-italic" th:text = "${userChannel.username}"></h1>

    <div th:if="${userChannel.id}!=${#authentication.getPrincipal().getId()}">
        <a th:if="${isSubscriber}==false" class="btn btn-info mb-3" th:href="@{'/user/subscribe/' + ${userChannel.id}}">Subscribe</a>
        <a th:if="${isSubscriber}==true" class="btn btn-secondary mb-3" th:href="@{'/user/unsubscribe/' + ${userChannel.id}}">Unsubscribe</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Subscriptions</h2>
                        <h2 class="card-text text-center">
                            <a th:href="@{'/user/subscriptions/' + ${userChannel.id}+'/list'}"
                               th:text="${subscriptionsCount}"></a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Subscribers</h2>
                        <h2 class="card-text text-center">
                            <a th:href="@{'/user/subscribers/' + ${userChannel.id}+'/list'}"
                               th:text="${subscribersCount}"></a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${checkedUser==true}">
        <div th:replace="~{fragment/messageEdit:: messageEdit}"></div>
    </div>

    <div th:replace="~{fragment/messagesList:: messagesList}"></div>

    <div th:replace="~{fragment/generalFragment:: bootstrap}"></div>
</div>

</body>
</html>